# Application port
PORT=7000
# Application contexts (consortia)
CONTEXT_HUBMAP='hubmapconsortium'
CONTEXT_SENNET='sennetconsortium'
# Google Sheets resource for metadata valuesets
VALUESETMANAGER='https://docs.google.com/spreadsheets/d/1VhBA3eC78X8w47_ej5f_wq5uvvgO2kY0kfC7utgDqhI/edit?usp=sharing'
# Provenance environment
ENDPOINT_BASE='https://entity-api.dev'
#ENDPOINT_BASE='https://entity-api'
# Application key
KEY='Flask-app-key'
# Globus keys
GLOBUS_HUBMAP_CLIENT='globus-hubmap-client'
GLOBUS_HUBMAP_SECRET='globus-hubmap-secret'
GLOBUS_SENNET_CLIENT='globus-sennet-client'
GLOBUS_SENNET_SECRET='globus-sennet-secret'
# DOI batch
DOI_START = 0
DOI_BATCH = 5
