# Application context (consortium)
CONTEXT_HUBMAP='hubmapconsortium'
CONTEXT_SENNET='sennetconsortium'
# Provenance environment
ENDPOINT_BASE='https://entity-api.dev'
#ENDPOINT_BASE='https://entity-api'
# App key
KEY='My key'
# Google Sheets resource for metadata valuesets
VALUESETMANAGER='https://docs.google.com/spreadsheets/d/1VhBA3eC78X8w47_ej5f_wq5uvvgO2kY0kfC7utgDqhI/edit?usp=sharing'