<!-- Compare donor clinical metadata with DOI titles-->
{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<title>Compare donor metadata with dataset DOIs</title>
<div class="container-fluid bg-secondary text-white">
    <br>
    <img src="/static/datacite.png" alt="Export" data-height="234" style="max-height: 40px;">
    <br>
    <h4>Compare Donor Metadata in Provenance with Dataset DOIs in DataCite</h4>
</div>
<form method=post>
    <div class="container-fluid">
        <br>
        <div>
            {{ render_field(form.consortium) }}
        </div>
        <div>
            {{ render_field(form.start) }}
        </div>
        <div>
            {{ render_field(form.batch) }}
        </div>
        <div>
            &#8679; Values for <i>start</i> and <i>batch size</i> must be set in app.cfg.
        </div>
        <br>
        <div>
            <button type="submit"  class="btn btn-primary btn-lg"
                    value="Export">Export to CSV</button>
        </div>
    </div>
</form>

{% endblock %}