<!-- Data entry page for curation-->
{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <div class="container text-left">
        <div class="row align-items-start">
            <div class="col">
                <h3 text-bg-warning>Minimal Metadata</h3>
                <div class="row text-bg-warning">
                   <div class="col">
                        <strong>{{ form.consortium.label }}</strong>
                    </div>
                    <div class="col">
                        {{ form.consortium }}
                    </div>
                </div>
                <div class="row text-bg-warning">
                    <div class="col">
                        <strong> {{ form.donorid.label }}</strong>
                    </div>
                    <div class="col">
                        {{ form.donorid }}
                    </div>
                </div>
                 <div class="row text-bg-warning">
                    <div class="col" title="Source: required">
                        {{ render_field(form.source) }}
                    </div>
                     <div class="col" title="Sex: required; default is Unknown">
                        {{ render_field(form.sex) }}
                    </div>
                </div>
                <div class="row text-bg-warning">
                    <div class="col" title="Age: required; integer or decimal; can be 0">
                        {{ render_field(form.agevalue) }}
                    </div>
                    <div class="col">
                        {{ render_field(form.ageunit) }}
                    </div>
                </div>
                <div class="row text-bg-warning">
                    <div class="col" title="Race: required; default is Unknown">
                        {{ render_field(form.race) }}
                    </div>
                    <div class="col" title="Ethnicity: optional">
                        {{ render_field(form.ethnicity) }}
                    </div>
                </div>
                <div class="row" title="Optional">
                    <h3>Organ Donation</h3>
                    <dl>
                        {{ render_field(form.cause) }}
                        {{ render_field(form.mechanism) }}
                        {{ render_field(form.event) }}
                    </dl>
                </div>
                <div class = "row">
                    <h3> Vitals</h3>
                    <div class="col" title="Height: integer or decimal; converts to cm">
                        {{ render_field(form.heightvalue) }}
                    </div>
                    <div class="col"">
                        {{ render_field(form.heightunit) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="Weight: integer or decimal; converts to kg">
                        {{ render_field(form.weightvalue) }}
                    </div>
                    <div class="col">
                        {{ render_field(form.weightunit) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="BMI: integer or decimal">
                         {{ render_field(form.bmi) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Measurements</h3>
                <div class="row">
                    <div class="col">
                        {{ render_field(form.bloodtype) }}
                    </div>
                    <div class="col">
                        {{ render_field(form.bloodrh) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="Waist circumference: converts to cm">
                        {{ render_field(form.waistvalue) }}
                    </div>
                    <div class="col">
                        {{ render_field(form.waistunit) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="Age at menarche: integer or decmial">
                        {{ render_field(form.agemenarche) }}
                    </div>
                    <div class="col" title="Age at first birth: integer or decimal">
                        {{ render_field(form.agefirstbirth) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="Gestational age: integer or decmial">
                        {{ render_field(form.gestationalage) }}
                    </div>
                    <div class="col" title="Gravida: integer">
                        {{ render_field(form.gravida) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="Parity: integer">
                        {{ render_field(form.parity) }}
                    </div>
                    <div class="col" title="Abortus (lost pregnancies): integer">
                        {{ render_field(form.abortus) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="KDPI: integer or decmial">
                        {{ render_field(form.kdpi) }}
                    </div>
                    <div class="col" title="Cancer risk: integer or decimal">
                        {{ render_field(form.cancerrisk) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="HbA1c: integer or decimal">
                        {{ render_field(form.hba1c) }}
                    </div>
                    <div class="col" title="Amylase: integer or decimal">
                        {{ render_field(form.amylase) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="Lipase: integer or decimal">
                        {{ render_field(form.lipase) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="eGFR: integer or decimal">
                        {{ render_field(form.egfr) }}
                    </div>
                    <div class="col" title="Creatinine: integer or decimal">
                        {{ render_field(form.secr) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col" title="Pathology note: free text">
                        {{ render_field(form.pathologynote) }}
                    </div>
                    <div class="col" title="APOE phenotype: free text">
                        {{ render_field(form.apoephenotype) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ render_field(form.fitzpatrick) }}
                    </div>
                    <div class="col">
                        {{ render_field(form.other_anatomic) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Social History</h3>
                <div class="row">
                    <div class="col">
                        {{ render_field(form.smoking) }}
                    </div>
                    <div class="col">
                        {{ render_field(form.tobacco) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ render_field(form.alcohol) }}
                    </div>
                    <div class="col">
                        {{ render_field(form.drug_0) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ render_field(form.drug_1) }}
                    </div>
                    <div class="col">
                        {{ render_field(form.drug_2) }}
                    </div>
                </div>
                <h3>Medical History</h3>
                    {{ render_field(form.medhx_0) }}
                    {{ render_field(form.medhx_1) }}
                    {{ render_field(form.medhx_2) }}
                    {{ render_field(form.medhx_3) }}
                    {{ render_field(form.medhx_4) }}
                    {{ render_field(form.medhx_5) }}
                    {{ render_field(form.medhx_6) }}
                    {{ render_field(form.medhx_7) }}
                    {{ render_field(form.medhx_8) }}
                    {{ render_field(form.medhx_9) }}
                </div>
        </div>
        <!-- Additional medical history fields -->
        <div class="row align-items_start">
            <h3>Medical History, continued</h3>
            <div class="col">
                {{ render_field(form.medhx_10) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_11) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_12) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_13) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_14) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_15) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_16) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_17) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_18) }}
            </div>
            <div class="col">
                {{ render_field(form.medhx_19) }}
            </div>
        </div>
        <!-- The "Review" button triggers a spinner display.-->
        <div class="d-grid gap-2 col-6 mx-auto">
            {{ form.review(class="btn btn-primary btn-lg", onclick="spinner_review()") }}
        </div>
        <!--spinner container-->
        <div id="spinner" class="loading">
        </div>
    </div>
    <br>
</form>
{% endblock %}