<!-- Review differences between existing metadata and changed metadata-->
{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<title>Consortium Donor Metadata </title>

<form method=post action="/export/review">

    <button  type="submit" class="btn btn-primary btn-lg" name="export" value="csv">Export to CSV</button>
    <button  type="submit" class="btn btn-primary btn-lg" name="export" value="tsv">Export to TSV</button>
    <a href="/" class="btn btn-primary btn-lg">Cancel</a>

    <div class="overflow-scroll mt-1 pb-5"
                 style="max-width: 1800px; max-height: 800px;">
        {{ table|safe }}
    </div>

</form>
<br>
{% endblock %}