<!-- Review differences between existing metadata and changed metadata-->
{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<title>Export</title>
<div class="container-fluid bg-secondary text-white">
    <br>
    <img src="/static/excel.png" alt="Export" data-height="234" style="max-height: 40px;">
    <br>
    <h4>Export Donor Metadata</h4>
</div>
<form method=post>
    <div class="container-fluid">
        <br>
        <div>
            {{ render_field(form.consortium) }}
        </div>
        <br>
        <div>
            <button type="submit"  class="btn btn-primary btn-lg"
                    value="Search" onclick="spinner2()">Select</button>
        </div>
        <br>
        <!-- Spinner that displays while searching -->
        <div id="spinner" class="loading">
        </div>
        <br>
    </div>
</form>

{% endblock %}