<!--donor search page-->
{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <div class="container text-left">
        <div class>
            {{ render_field(form.consortium) }}
        </div>
        <div>
            {{ render_field(form.donorid) }}
        </div>
        <div>
            &#8679; ID format is <i>(CCCnnn.XXXX.nnn)</i>, with <i>CCC</i> in (HBM,SNT); <i>n</i> integer; <i>X</i> non-numeric
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
    </div>
</form>
{% endblock %}