<!--Globus login page-->
{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid bg-secondary text-white">
    <br>
    <img src="/static/doctor_11542314.png" alt="Icon by Iconriver" data-height="234" style="max-height: 40px;">
    <br>
    <h4>Select Donor</h4>
</div>
<form method=post>
    <div class="container-fluid">
        <br>
        <div>
            {{ render_field(form.consortium) }}
        </div>
        <div>
            {{ render_field(form.donorid) }}
        </div>
        <div>
            &#8679; ID format is <i>(CCCnnn.XXXX.nnn)</i>, with <i>CCC</i> in (HBM,SNT); <i>n</i> integer; <i>X</i> non-numeric
        </div>
        <br>
        <div>
            <button type="submit"  class="btn btn-primary btn-lg"
                    value="Search" onclick="spinner_index()">Search</button>
        </div>
        <br>
        <!-- Spinner that displays while logging in -->
        <div id="spinner" class="loading">
        </div>
        <br>
    </div>
</form>
{% endblock %}