<!--donor search page-->
{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <div class="container text-left">
        <br>
        <div class>
            {{ render_field(form.consortium) }}
        </div>
        <div>
            {{ render_field(form.donorid) }}
        </div>
        <div>
            &#8679; ID format is <i>(CCCnnn.XXXX.nnn)</i>, with <i>CCC</i> in (HBM,SNT); <i>n</i> integer; <i>X</i> non-numeric
        </div>
        <div>
            {{ render_field(form.token) }}
        </div>
        <div>
            &#8679; provide the appropriate <code>groups_token</code> for the consortium application, as described <a href={{ url_for('token.token') }}>here</a>.
        </div>
        <br>
        <br>
        <div>
            <button type="submit"  class="btn btn-primary btn-lg"
                    value="Search" onclick="spinner()">Search</button>
        </div>
        <br>
        <br>
        <!-- Spinner that displays while searching -->
        <div id="spinner" class="loading">
        </div>
        <br>
    </div>
</form>
{% endblock %}