<!-- Review differences between existing metadata and changed metadata-->
{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<title>Donor ID: {{ donorid }} </title>

<!-- Submitting the form posts back to this page.-->
<!-- Hyphens at the beginning of a Jinja code block trims leading blank spaces, including newlines.
     Two hyphens are needed to trim all newlines in the JSONs.-->
<form method=post action="/review">
    <div class="container text-left">
        <div class="row align-items-start">
            <div class="col">
                <h3>Differences</h3>
                <div class="overflow-scroll mt-1 pb-5 bg-light"
                 style="max-width: 500px; max-height: 200px;">
                    <pre>
                        {%- if form.deepdiff is none %}
                            No differences
                        {% else %}
                            {{- form.deepdiff|tojson_pretty|safe}}
                        {%- endif %}
                    </pre>
                </div>
            </div>
            <div class = "col text-bg-warning">
                <p> New metadata consists of the original metadata modified by any changes from the Edit form.</p>
                <p> Metadata will be standardized--e.g., </p>
                <ul>
                    <li>converted to decimal</li>
                    <li>converted to metric units (in to cm; lb to kg)</li>
                </ul>
                <p> In addition, previously curated metadata will be corrected and updated for consistency--e.g.,</p>
                <ul>
                    <li>grouping concepts</li>
                    <li>race and ethnicity for donors with race of "Hispanic"</li>
                </ul>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <h3>Current Metadata</h3>
                <div class="overflow-scroll mt-1 pb-5 bg-light"
                    style="max-width: 500px; max-height: 350px;">
                    <pre>
                        {%- if form.currentdonordata is none or form.currentdonordata.metadata is none %}
                            no metadata
                        {% else %}
                            {{- form.currentdonordata.metadata|tojson_pretty|safe }}
                        {%- endif %}
                    </pre>
                </div>
            </div>
            <div class="col">
                <h3>New Metadata</h3>
                <div class="overflow-scroll mt-1 pb-5 bg-light"
                    style="max-width: 500px; max-height: 350px;">
                    <pre>
                        {%- if form.newdonordata is none or form.newdonordata.metadata is none %}
                            no metadata
                        {% else %}
                            {{- form.newdonordata.metadata|tojson_pretty|safe }}
                        {%- endif %}
                    </pre>
                </div>
            </div>
        </div>
        <br>
        <div>
            <input name="newdonor" type="hidden" value={{ form.newdonor }} >
            <input name="donorid" type="hidden" value="{{ donorid}}">
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                {% if form.deepdiff is none %}
                    <button  type="submit" class="btn btn-primary btn-lg disabled" value="Update" aria-disabled="true">Update</button>
                {% else %}
                    <button  type="submit" class="btn btn-primary btn-lg" value="Update">Update</button>
                {% endif %}
            </div>
            <div class="col col-lg-2">
                <a href="/" class="btn btn-primary btn-lg">Cancel</a>
            </div>
        </div>
    </div>
    <br>
</form>
<form method=post action="/export/tsv">
    <input name="newdonortsv" type="hidden" value={{ form.newdonortsv }} >
    <div class="container text-left">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <button  type="submit" class="btn btn-primary btn-lg" value="Export to TSV">Export to TSV</button>
            </div>
        </div>
    </div>
</form>
<br>
{% endblock %}